.login-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5; /* Light background color */
}

.login-card {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 400px; /* Fixed width for the card */
  text-align: center;
}

.login-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.login-input:focus {
  border-color: #007bff; /* Change border color on focus */
  outline: none;
}

.pass-input-div {
  position: relative;
}

.password-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #777;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff; /* Primary color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

.login-bottom-p {
  margin-top: 20px;
  color: #777;
}
